@import "./views/Notifications/theme/dark.less";

@bg-color: #2d3e50;
@scroll-bar-width: 8px;

// Div scroll bar customization
div::-webkit-scrollbar-track {
  border-radius: @scroll-bar-width;
  background-color: transparent;
}

div::-webkit-scrollbar {
  width: @scroll-bar-width;
  background-color: transparent;
}

div::-webkit-scrollbar-thumb {
  border-radius: @scroll-bar-width;
  background-color: @dark-color;
}

.App {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  background-color: @bg-color;
  overflow: hidden;
}

.app-container{
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'header header'
    'query-bar query-bar'
    'inputs-panel result-panel';

  .header {
    grid-area: header;
    background-color: @secondary-color;
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .App-Title {
      color: @text-color;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  .query-bar{
    grid-area: query-bar;
    margin: 0.5rem;
    display: flex
  }

  .input-query {
    background-color: @primary-color
  }

  .inputs-panel {
    grid-area: inputs-panel;
    background-color: @primary-color;
    padding: 1rem;
    overflow-y: scroll;
    // border-top-right-radius: @scroll-bar-width;
    // border-bottom-right-radius: @scroll-bar-width;
  }

  .result-panel {
    grid-area: result-panel;
    padding: 1rem;
    display: flex;
    overflow-y: scroll;
  }

  .result_buttons {
    display: flex;
    flex-direction: column;
  }
}

.spinning_icon {
  font-size: 3rem;
  color: @dimmer-color;
}

.input_group {
  margin-bottom: 1.5rem;
  padding: 1rem;
  border: 1px dashed @dimmer-color;
  border-radius: 4px;
  position: relative;
  background-color: @dark-color;

  .remove_group_btn {
    color: @dimmer-color;
    position: absolute;
    bottom: -9px;
    right: -9px;
    font-size: 18px;
    cursor: pointer;
    &:active,
    &:hover,
    &:focus {
      color: @dim-color;
    }
  }

  .delete-button {
    cursor: pointer;
    &:active,
    &:hover,
    &:focus {
      color: @light-color;
    }
  }
}

